<%= form_with model: quote, local: true, html: { class: "quote form" } do |form| %>
  <%= form_error_notification(quote) %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, autofocus: true, class: "w-full" %>
  </div>

  <%= link_to "Cancel", quotes_path, class: "underline" %>

  <%= form.submit "Submit" %>
<% end %>
